
<div class="album text-muted">
    <div class="container">
        <div class="row">
            <h1>Search Your Partner</h1>   
            <%= render partial: 'matrimony', collection: @matrimonies %>
        </div>
    </div>
</div>