
<%= form_for([@matrimonies,@matrimonies.comments.build]) do |form| %>
    <div class="form-group">
        <%= form.label :Comment %>
        <%= form.text_area :body, class: 'form-control' %>
    </div>
    <div class="auth-link">
        <%= form.submit 'Post', class: 'btn btn-primary' %>
    </div>
<% end %>